#account-form {
    width: 50%;
    margin: 35px auto;
    text-align: center;
    padding: 20px;
}

#account-form input {
    margin: 5px auto;
}

#account-form #change-pass-btn {
    color: #fff;
    background-color: #fb774b;
}

.account-info #orders-btn, #logout-btn {
    color: #fb774b;
    text-decoration: none;
}

/* PEDIDOS */

.orders table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 35px; /* Ajuste conforme necessário */
    padding-top: 35px; /* Ajuste conforme necessário */
}

.orders .product-info {
    display: flex;
    flex-wrap: wrap;
}

.orders th {
    padding: 5px 10px;
    color: #ffffff;
    background-color: #fb774b;
}

.orders td {
    padding: 10px 20px;
}

.orders td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.order-details-btn{
    color: #fff !important;
    background-color: #fb774b !important;
}

.icones{
    background-color: #fb774b !important;
    padding: 8px !important;
    border-radius: 0.5rem;
    color: white !important;
}